#footer {
    height: 50px;
    background-color: #010b2e;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #937b7b;
    color: white;
}