*{
  margin:0;
  padding:0;
  
}

.App{
  margin:0;
  padding:0;
}

*::-webkit-scrollbar{
  display:none;
  
}

.App {
  background-image: url('../assets/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}